body {
    font-family: Arial;
    background-color: #f4f6f9;
    margin: 20px;
}

.contenedor {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px #dcdcdc;
}

h2 {
    color: #2c3e50;
}

input[type=text],
input[type=password] {
    width: 250px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.boton {
    background-color: #0078d4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.boton:hover {
    background-color: #005fa3;
}
table {
    margin-top: 15px;
}

.gridview {
    width: 100%;
    border-collapse: collapse;
}

.gridview th {
    background-color: #0078d4;
    color: white;
    padding: 10px;
}

.gridview td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
        margin: 0;
    }
.btnCerrarSesion {
    margin-left: auto;
    background-color: #dc3545;
}

.btnCerrarSesion:hover {
    background-color: #b02a37;
}
.btnEditar {
    color: #0078d4;
    text-decoration: none;
    font-weight: bold;
}

.btnEliminar {
    color: #dc3545;
    text-decoration: none;
    font-weight: bold;
}